nav.navbar {
    padding: 0 30px;
    background-color: #fff;
    display: none;
}

div.user-bar a.user-welcome {
    color: #ff7a37;
    text-decoration: none;
    font-size: 1.1rem;
    display: none;
}

div.user-bar a.navbar-set-change-pin-btn {
    text-decoration: none;
    color: #ff7a37;
    display: none !important;
}

div.user-bar a.user-notifications {
    color: #fff;
    text-decoration: none;
    background-color: #48b9e7;
    border-radius: 40px;
    padding: 2px 10px;
    font-weight: 100;
    font-size: 12px;
}

.clinic-container .current-clinic-label-sm {
    font-weight: 600 !important;
    font-size: 15px !important;
}

div#add-search-name {
    display: none;
}

div#patientdetailaddress > p {
    font-size: 13px;
    margin-left: 4px;
}

body, html {
    height: 100%;
    min-height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: white !important;
}

.clinic-container .current-clinic-label {
    font-weight: 500;
    font-size: 1.25rem;
    margin-right: 20px;
}

.well {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
    min-height: 100px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

div.location-bar {
    padding: 0 30px;
    min-height: 45px;
    border-bottom: 1px solid #000;
    background-color: #fff;
}

div.form-group > label.label {
    font-size: 12px;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.well .nav-link.active {
    background-color: #48b8e6;
    color: #fff;
    font-size: 12px;
}

button.close-btn.btn.expand-btn>span.icon-close:before {
    color: #ff7a37;
}

div.row.well-header>h3 {
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
}

div#drugallergieslist>h5 {
    font-size: 13px;
    color: #333;
}

.container.bg-white.well.drug-allergy-list-padding {
    font-size: 12px;
    color: #333;
}

label.checkbox-container {
    font-size: 12px;
}

.org-switch {
    background-color: #fff;
    border-color: #48b8e6;
    color: #3b8aab;
    border-width: thin;
    font-size: 10px;
}

.org-switch.checked {
    background-color: #5bb8e5;
    color: #fff;
}

#current-app-version {
    background-color: #3b89c9;
    color: #fff;
    height: 25px;
    display: none;
}

.secondary-cta {
    border-radius: 0;
    border: 1px solid lightgray;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    padding: 5px 15px;
    margin-bottom: 5px;
}


.primary-cta {
    border-radius: 20px !important;
    border: 1px solid lightgray !important;
    background-color: #5bb8e5 !important;
    color: #fff !important;
    font-size: 12px !important;
    padding: 10px !important;
    min-width: 100px !important;
}

.primary-cta:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
    color: #5bb8e5;
}

btn>span:before, .expand-btn>span:before {
    color: #4CAF50;
    font-size: 2.5rem;
    position: absolute;
    left: -5px;
    top: -3px;
}

div.p-1>h2 {
    font-size: 15px !important;
    color: #333 !important;
}

.p-2 {
    padding: .5rem!important;
    padding-top: 0px !important;
}


div.eligibilityError> h1 {
    font-size: 13px !important;
    margin-left: 5px;
    color: #333;
}

.well .nav-link {
    font-size: 12px;
    background-color: #124466;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.nav-tabs {
    border-bottom: none;
}

.well .well-header {
    background-color: #124466;
    color: #fff;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 2px;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#patient-add-buttons-div button {
    margin-bottom: 10px;
}

div#active-medications-table_length {
    float: left;
    font-size: 12px;
}

select.form-control.form-control-sm {
    font-size: 12px;
}

div#active-medications-table_filter {
    float: left;
    font-size: 12px;
}

th.sorting_desc {
    font-size: 12px;
}

th.sorting {
    font-size: 12px;
}

td.dataTables_empty {
    font-size: 12px;
}

div#active-medications-table_info {
    float: left;
    font-size: 12px;
}

ul.pagination {
    font-size: 12px;
}

div#inactive-medications-table_length {
    float: left;
    font-size: 12px;
}

div#inactive-medications-table_filter {
    float: left;
    font-size: 12px;
}

div#inactive-medications-table_info {
    font-size: 12px;
    float: left;
}



.tertiary-cta {
    border-radius: 21px;
    border: 1px solid lightgrey;
    background-color: #fff;
    color: black;
    font-family: Sintony;
    font-size: 12px;
    width: 50%;
    height: 50px;
}

.tertiary-cta:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: #eaeaea;
}

button#cleanup-workflow-proceed,
button#pending-medications-change-pharmacy-submit,
button#reorder-active-medication-confirm,
button#remove-active-medication-confirm {
    border-radius: 20px !important;
}

.checkbox-container .checkbox:after {
    content: "\79";
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    font-family: dosespot;
    font-size: 1.4rem;
    color: #48b8e6;
}

.horizontal-line {
    height: 2px;
    background-color: #48b8e6;
    color: #48b8e6;
    border: 0 none;
}

button.btn.primary-cta.search-pharmacies {
    min-width: 200px;
    margin-left: 20%;
    border-radius: 2px !important;
}

button.add-submit.btn.primary-cta {
    min-width: 200px;
    margin-left: 20%;
    border-radius: 2px !important;
}


button.btn.tertiary-cta.close-btn {
    min-width: 100px;
    margin-left: 5%;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: 40px;
}



.dosespot-btn-group .dosespot-btn-container .checkmark {
    position: absolute;
    top: -25px;
    left: 15px;
}

.dosespot-btn-group .dosespot-btn-container .checkmark:after {
    content: "\25FC";
    position: absolute;
    display: inline-block;
    font-family: dosespot;
    font-size: 2.4rem;
    color: #48b8e6;
}

.dosespot-btn-group .dosespot-btn-container {
    display: block;
    position: relative;
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    margin-bottom: 5px;
    font-size: 22px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-style: Solid;
    border-color: #ff7a37;
    border-color: #48b8e6;
    border-width: 2px;
    border-radius: 23px;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
}

h3.orange-header.add-medication-step-3 {
    color: #4c4c4c;
}

button#effective-date-today {
    margin-top: 10%;
}

.star-container input[type=checkbox]:checked~.star:after {
    color: #48b8e6;
}

#current-app-version {
    background-color: #3b89c9;
    color: #fff;
    height: 25px;
    display: none;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.row-no-flex {
    margin-left: -15px;
    margin-right: -15px;
    display: none;
}

.modal .modal-content,
.modal .modal-text-secondary,
.modal p,
.modal span,
.modal td {
    font-weight: 400;
    font-size: 50px;
    color: #124466;
}

button#pending-prescriptions-approve-send:disabled {
    cursor: not-allowed;
}

button#pending-prescriptions-approve-print:disabled {
    cursor: not-allowed;
}

.ui-widget-header {
    border: 1px solid #337ab7;
    background: #337ab7 !important;
    color: #fff;
    font-weight: bold;
}

a.ui-state-default.ui-state-highlight {
    border: 1px solid #337ab7;
    background: #337ab7;
    color: #fff;
}

div.margin-bottom-3>button.add-submit {
    margin-left: 0px !important;
    display: inline-block !important;
    width: 40% !important;
}
